<div class="container">
  <%= render 'table', source: @failed, kind: 'failed'%>
  <%= render 'table', source: @disputed, kind: 'disputed'%>
  <%= render 'table', source: @successful, kind: 'successful'%>
</div>
