default: &default
  adapter: postgresql
  encoding: unicode
  pool: 30
  statement_limit: 200
  timeout: 5000
  port: 5432
  host: localhost

development:
  <<: *default
  password:
  username:
  database:
  
test:
  <<: *default
  password:
  username:
  database: