<h1>Failed Charges</h1>
<%= render 'charges', charges: @failed_charges, charge_type: 'failed' %>

<h1>Disputed Charges</h1>
<%= render 'charges', charges: @disputed_charges, charge_type: 'disputed' %>

<h1>Successful Charges</h1>
<%= render 'charges', charges: @successful_charges, charge_type: 'successful' %>
