/app_challenge/.idea/runConfigurations/Development__app_challenge.xml
/app_challenge/.idea/runConfigurations/Production__app_challenge.xml
/app_challenge/.idea/runConfigurations/spec__app_challenge.xml
/app_challenge/.idea/runConfigurations/test__app_challenge.xml
/app_challenge/.gitignore
/app_challenge/.idea/.generators
/app_challenge/.idea/.name
/app_challenge/.idea/.rakeTasks
/app_challenge/.idea/app_challenge.iml
/app_challenge/.idea/dataSources.ids
/app_challenge/.idea/dataSources.xml
/app_challenge/.idea/encodings.xml
/app_challenge/.idea/misc.xml
/app_challenge/.idea/modules.xml
/app_challenge/.idea/scopes/scope_settings.xml
/app_challenge/.idea/vcs.xml
/app_challenge/.idea/workspace.xml
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html