<table id="<%= id %>-charges">
	<% @disputed_charges.each do |charge| %>
		<tr>
			<td><%= charge.customer.full_name %></td>
			<td><%= charge.amount %></td>
			<td><%= charge.created_at.to_date %></td>
		</tr>
	<% end -%>
</table>