.container
  %div
    - %w{failed disputed successful}.each do |charge|
      %h1
        = "#{charge.capitalize} Charges"
      = render partial: 'charge_list', locals: {charges: eval("@#{charge}"), css: charge}