.container
  .col-md-4.failed-charges
    %h1 Failed Charges
    = render partial: 'charge_list', locals:{ charges: Charge.failed }
  .col-md-4.disputed-charges
    %h1 Disputed Charges
    = render partial: 'charge_list', locals:{ charges: Charge.disputed }
  .col-md-4.succed-charges
    %h1 Successful Charges
    = render partial: 'charge_list', locals:{ charges: Charge.succeed }
