<p id="notice"><%= notice %></p>

<%= render partial: 'group', locals: { group: :failed } %>
<%= render partial: 'group', locals: { group: :disputed } %>
<%= render partial: 'group', locals: { group: :successful } %>
