<h1>Failed Charges</h1>
<ul id="failed_charges">
  <% @failed_charges.each do |charge| %>
      <li> <%= charge_li(charge) %> </li>
  <% end %>
</ul>

<h1>Disputed Charges</h1>
<ul id="disputed_charges">
  <% @disputed_charges.each do |charge| %>
      <li> <%= charge_li(charge) %> </li>
  <% end %>
</ul>

<h1>Successful Charges</h1>
<ul id="successful_charges">
  <% @successful_charges.each do |charge| %>
    <li> <%= charge_li(charge) %> </li>
  <% end %>
</ul>