<ul class="<%= row_class %>">
  <% operations.each do |credit_card_operation| %>
      <li>
        <%= credit_card_operation.user.name_with_initial %>,
        <%= credit_card_operation.amount %>
      </li>
  <% end %>
</ul>
