<h1>Failed Charges</h1>
<ul id="failed">
  <%= render @failed %>
</ul>
<h1>Disputed Charges</h1>
<ul id="disputed">
  <%= render @disputed %>
</ul>
<h1>Successful Charges</h1>
<ul id="successful">
  <%= render @succeed %>
</ul>
