.charges
  %h1 Charges list

  = render partial: 'charges/list', locals: { charges: @failed_charges, header: 'Failed charges', list_class: 'failed' }

  = render partial: 'charges/list', locals: { charges: @disputed_charges, header: 'Disputed charges', list_class: 'disputed' }

  = render partial: 'charges/list', locals: { charges: @successful_charges, header: 'Successful charges', list_class: 'successful' }
