.charges
  %h1 Charges list
  .failed
    %h1 Failed charges
    - @failed_charges.each do |charge|
      = render charge
  .disputed
    %h1 Disputed charges
    - @disputed_charges.each do |charge|
      = render charge
  .successful
    %h1 Successful charges
    - @successful_charges.each do |charge|
      = render charge
