// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#failed li{
  background-color:  #FF0000
}

#disputed li{
  background-color:  #FF5400
}