<table id="disputed-charges">
  <thead>
    <tr>
      <th>Charge</th>
      <th>Customer</th>
      <th>Amount</th>
      <th>Disputed Date</th>
    </tr>
  </thead>

  <tbody>
    <% @disputed_charges.each do |charge| %>
    <tr style="background-color: #FF5400">
      <td><%= charge.created %></td>
      <td><%= charge.customer %></td>
      <td><%= number_to_currency charge.amount, presicion: 2 %></td>
      <td><%= charge.updated_at.strftime('%F') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
