<tr class="row">
  <td><%= successful.customer.first_name %></td>
  <td><%= number_to_currency(successful.amount) %></td>
  <td><%= l successful.successful_at, format: :short, default: '' %></td>
</tr>
