<h1>Failed Charges</h1>

<%= render 'failed', charges: @failed_charges %>

<h1>Disputed Charges</h1>

<%= render 'disputed', charges: @disputed_charges %>

<h1>Successful Charges</h1>

<%= render 'successful', charges: @successful_charges %>
