<div class="charges">
  <%= render partial: 'charges', locals: view.failed_charges %>
  <%= render partial: 'charges', locals: view.disputed_charges %>
  <%= render partial: 'charges', locals: view.successful_charges %>
</div>
